/* ===================
   Content
   =================== */
/*
 * CONTENTS...................You’re reading it!
 * COMPASS....................Imports, requires, etc.
 * SECTIONS...................Content from custom sections
 */
/* ===================
   Compass
   =================== */
/* ===================
   Section
   =================== */
.form-group .checkbox {
  display: inline-block;
  vertical-align: bottom;
  padding-right: 20px;
}
