extends ../layouts/app

block content

  script.
    var nickname = "#{nickname}"; 
    //- TODO: No carga nickname
    var cert = "#{cert}";

  h2 Certificate Request Successful
  p Hit 'load' to load your certificate
    form(name="ReqForm")
      p 
        input(type=submit, Name="Load", value="Submit")

  script(src='js/certificate.js')
