extends ../layouts/default

block content
	p Request a cert
	form(name="ReqForm", method="post", action="/certificate")
		input(type=text, name=name, value="") Nombre
		input(type=hidden, name="cert_request", value="")
		input(type="submit", value="Submit", name="Send")

	script(src='js/main.js')