extends ../layouts/app

block content
	p Entrar con firma digital
	form(calss="form-inline", name="ReqForm", method="post", action="/certificate")
		input(type="text", class="form-control", name="name", value="", placeholder="Nombre temp del ceriticado") Nombre
		input(type="hidden", name="cert_request", value="")
		button(type="submit", class="btn btn-default", value="Submit", name="Send") Verificar

	script(src='js/main.js')